.profile{
    max-width: 880px;
    margin: 40px auto 0px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap:wrap;
    align-items:center;
}

@media screen and (min-width: 320px) and (max-width: 845px){
    .profile{
    flex-direction: column;
    width: 282px;
    justify-content: space-between;
}
}