.header{
    max-width: 880px;
    margin: 45px auto 0px;
    border-bottom: 1px solid #545454;
}

@media screen and (min-width: 320px) and (max-width: 845px){
    .header{
        margin-top: 28px;
    }
  }