.elements{
    max-width: 880px;
    margin: 51px auto 0;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap:wrap;
    align-content: flex-start;
    column-gap: 10px;
}

@media screen and (min-width: 320px) and (max-width: 845px){
    .elements{
        justify-content: space-around;

}
}
