.element-title-box{
    width:246px;
    height:23px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    color:#000000;
    padding-left:21px;
    padding-right:15px;
}